<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Journals</title>
</head>
<body>
    <h1>List of Journals</h1>
    <a href="/journals/add">Add New Journal</a>  
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Journal Date</th>
                <th>Description</th>
                <th>Debit Account</th>
                <th>Debit Amount</th>
                <th>Credit Account</th>
                <th>Credit Amount</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="journal : ${journals}">
                <td th:text="${journal.id}"></td>
                <td th:text="${journal.company.name}"></td>
                <td th:text="${journal.description}"></td>
                <td th:text="${journal.transactionDate}"></td>
                <td th:text="${journal.debitAccount.accountName}"></td>
                <td th:text="${journal.debitAmount}"></td>
                <td th:text="${journal.creditAccount.accountName}"></td>
                <td th:text="${journal.creditAmount}"></td>
                <td>
                    <a th:href="@{/journals/update/{id}(id=${journal.id})}">Edit</a> |
                    <a th:href="@{/journals/delete/{id}(id=${journal.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
